.footer {
    background-color: #0b2a66;
    font-family: 'Times New Roman';
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
