<div class="notification-container">
    <button class="back-button">
    </button>
  
    <h2>Notification</h2>
  
    <div class="notification-card">
      <strong>Exam Schedules →</strong>
      <p><em>Final Exams for Science will be held on March 16, 2025.</em></p>
      <span>2/21/25</span>
    </div>
  
    <div class="notification-card">
      <strong>With Honor →</strong>
      <p><em>Congratulations! You made it to the Honor with an average of 92.31</em></p>
      <span>2/21/25</span>
    </div>
  
    <div class="notification-card">
      <strong>Class Cancellations →</strong>
      <p><em>Your 10:30 AM Science class has been canceled today.</em></p>
      <span>2/21/25</span>
    </div>