<header class="header">
    <img src="assets/images/bansud-institute-logo.png" alt="Bansud Institute Logo" class="logo" />
    <div class="institute-info">
      <h1>BANSUD INSTITUTE, INC.</h1>
      <p>Poblacion, Bansud, Oriental Mindoro</p>
    </div>
  </header>

<div class="login-container">
  <div class="login-box">
      <div class="login-form">
        <h2 class="welcome">Welcome to Bansud Institute</h2>
        <h3 class="highlight">Student Portal</h3>
        <button class="level-btn" onclick="location.href='auth/login'">Junior High School</button>
        <button class="level-btn" onclick="location.href='auth/login'">Senior High School</button>
        <button class="level-btn" onclick="location.href='pages/student-registration-form'">Registration Form</button>
      </div>
  </div>

  <div class="image-section"></div>
</div>
